button {
    display: block;
    margin: 10px auto;
}

div {
    height: 30px;
    width: 30px;
    margin: 5px;
    float: left;
    color: white;
    background-color: #000000;
    text-align: center;
    line-height: 30px;
    border: 1px solid black;
}

.circle {
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    background-color: #fff;
}